/* Base*/


.container {
  margin: 0 auto;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 23px; }
h4 { font-size: 20px; }
h4 { font-size: 18px; }
h6 { font-size: 16px; }

a, a:link {}
a:visited {}
a:hover   {}
a:focus   {}
a:active  {}


img, svg, video, canvas {
  max-width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
